# Installing and importing Libraries

Loading and installing the CBS Open dataset

In [2]:
!pip install CBSOdata

Collecting CBSOdata
  Downloading cbsodata-1.3.4-py3-none-any.whl (12 kB)
Requirement already satisfied: requests in c:\users\beheerder\anaconda3\lib\site-packages (from CBSOdata) (2.27.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\beheerder\anaconda3\lib\site-packages (from requests->CBSOdata) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\beheerder\anaconda3\lib\site-packages (from requests->CBSOdata) (1.26.9)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\beheerder\anaconda3\lib\site-packages (from requests->CBSOdata) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\beheerder\anaconda3\lib\site-packages (from requests->CBSOdata) (2021.10.8)
Installing collected packages: CBSOdata
Successfully installed CBSOdata-1.3.4

Imported Libraries

In [151]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pickle
import cbsodata

# Downloading, merging and Cleaning the datasets

In [4]:
# Downloading table list
toc = pd.DataFrame(cbsodata.get_table_list())

# Downloading entire dataset region data(can take up to 30s)
data = pd.DataFrame(cbsodata.get_data('70072ned'))

# Downloading entire dataset  housing type data
data_woningen = pd.DataFrame(cbsodata.get_data('82900ned'))

# Downloading metadata
metadata = pd.DataFrame(cbsodata.get_meta('70072ned', 'DataProperties'))

In [7]:
data['KoppelvariabeleRegioCode_306'].isnull().sum()

8031

In [8]:
#dropping NaN data
data_gemeente = data.dropna(subset=['KoppelvariabeleRegioCode_306'])
data_gemeente = data_gemeente.dropna(subset=['Koopwoningen_94'])

0

In [11]:
#Containing only the important features
data_gemeente = data_gemeente.loc[:, ['ID',
 'RegioS',
 'Perioden',
 'TotaleBevolking_1',
 'Mannen_2',
 'Vrouwen_3',
 'JongerDan5Jaar_13',
 'k_5Tot10Jaar_14',
 'k_10Tot15Jaar_15',
 'k_15Tot20Jaar_16',
 'k_20Tot25Jaar_17',
 'k_25Tot45Jaar_18',
 'k_45Tot65Jaar_19',
 'k_65Tot80Jaar_20',
 'k_80JaarOfOuder_21',
 'TotaleDruk_22',
 'GroeneDruk_23',
 'GrijzeDruk_24',
 'Ongehuwd_25',
 'Gehuwd_26',
 'Gescheiden_27',
 'Verweduwd_28',
 'NederlandseAchtergrond_43',
 'TotaalMetMigratieachtergrond_44',
 'ZeerSterkStedelijk_52',
 'SterkStedelijk_53',
 'MatigStedelijk_54',
 'WeinigStedelijk_55',
 'NietStedelijk_56',
 'Bevolkingsdichtheid_57',
 'Geboorteoverschot_62',
 'GeboorteoverschotRelatief_63',
 'BinnenlandsMigratiesaldo_71',
 'BinnenlandsMigratiesaldoRelatief_72',
 'VerhuismobiliteitRelatief_73',
 'Migratiesaldo_76',
 'MigratiesaldoRelatief_77',
 'Bevolkingsgroei_79',
 'BevolkingsgroeiRelatief_80',
 'TotaalAantalParticuliereHuishoudens_82',
 'Eenpersoonshuishoudens_86',
 'HuishoudensZonderKinderen_87',
 'HuishoudensMetKinderen_88',
 'GemiddeldeHuishoudensgrootte_89',
 'VoorraadOp1Januari_90',
 'Nieuwbouwwoningen_91',
 'SaldoVermeerderingWoningenRelatief_92',
 'Woningdichtheid_93',
 'Koopwoningen_94',
 'Huurwoningen_95',
 'EigendomOnbekend_96',
 'GemiddeldeWoningwaarde_99',
 'VoortgezetOnderwijs_108',
 'MiddelbaarBeroepsonderwijs_109',
 'HogerBeroepsonderwijsBachelor_110',
 'WoMasterDoctoraal_111',
 'TotaalAantalBanen_112',
 'ALandbouwBosbouwEnVisserij_117',
 'BFNijverheidEnEnergie_118',
 'GNCommercieleDienstverlening_119',
 'OUNietCommercieleDienstverlening_120',
 'ParticuliereHuishoudensExclStudenten_121',
 'ParticuliereHuishoudensExclStudenten_122',
 'UitkeringsontvangersTotaal_152',
 'Werkloosheid_155',
 'TotaleOppervlakte_243',
 'Land_244',
 'WaterTotaal_245',
 'Omgevingsadressendichtheid_248',
 'Gemeenten_303',
 'KoppelvariabeleRegioCode_306']]

In [23]:
#Dataset with only total combined data
data_woningen = data_woningen[(data_woningen['StatusVanBewoning'] == "Totaal")]

,ID,StatusVanBewoning,RegioS,Perioden,TotaleWoningvoorraad_1,Koopwoningen_2,TotaalHuurwoningen_3,EigendomWoningcorporatie_4,EigendomOverigeVerhuurders_5,EigendomOnbekend_6
0,0,Totaal,Nederland,2012,7386743.0,4182889.0,3121980.0,2269883.0,852097.0,81874.0
1,1,Totaal,Nederland,2013,7449298.0,4216760.0,3171057.0,2277246.0,893811.0,61481.0
2,2,Totaal,Nederland,2014,7535315.0,4238259.0,3217156.0,2275389.0,941767.0,79900.0
3,3,Totaal,Nederland,2015,7587964.0,4266966.0,3244238.0,2304505.0,939733.0,76760.0
4,4,Totaal,Nederland,2016,7641323.0,4300406.0,3256930.0,2281742.0,975188.0,83987.0
...,...,...,...,...,...,...,...,...,...,...
5462,5462,Totaal,Zwolle,2018,56595.0,29621.0,26693.0,18832.0,7861.0,281.0
5463,5463,Totaal,Zwolle,2019,57730.0,30761.0,26886.0,19179.0,7707.0,83.0
5464,5464,Totaal,Zwolle,2020,58492.0,31046.0,27236.0,19226.0,8010.0,210.0
5465,5465,Totaal,Zwolle,2021,59491.0,31402.0,28006.0,19553.0,8453.0,83.0
5466,5466,Totaal,Zwolle,2022,60228.0,31728.0,28469.0,19667.0,8802.0,31.0

In [167]:
#Merge the two datasets, creating one with housing type data
df = pd.merge(data_gemeente, data_woningen, on=['RegioS', 'Perioden'], how='left')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7787 entries, 0 to 7786
Data columns (total 79 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   ID_x                                      7787 non-null   int64
 1   RegioS                                    7787 non-null   object
 2   Perioden                                  7787 non-null   object
 3   TotaleBevolking_1                         7787 non-null   float64
 4   Mannen_2                                  7787 non-null   float64
 5   Vrouwen_3                                 7787 non-null   float64
 6   JongerDan5Jaar_13                         7787 non-null   float64
 7   k_5Tot10Jaar_14                           7787 non-null   float64
 8   k_10Tot15Jaar_15                          7787 non-null   float64
 9   k_15Tot20Jaar_16                          7787 non-null   float64
 10  k_20Tot25Jaar_17                          7787 non-null   float64
 11  k_25Tot45Jaar_18                          7787 non-null   float64
 12  k_45Tot65Jaar_19                          7787 non-null   float64
 13  k_65Tot80Jaar_20                          7787 non-null   float64
 14  k_80JaarOfOuder_21                        7787 non-null   float64
 15  TotaleDruk_22                             7787 non-null   float64
 16  GroeneDruk_23                             7787 non-null   float64
 17  GrijzeDruk_24                             7787 non-null   float64
 18  Ongehuwd_25                               7787 non-null   float64
 19  Gehuwd_26                                 7787 non-null   float64
 20  Gescheiden_27                             7787 non-null   float64
 21  Verweduwd_28                              7787 non-null   float64
 22  NederlandseAchtergrond_43                 7787 non-null   float64
 23  TotaalMetMigratieachtergrond_44           7787 non-null   float64
 24  ZeerSterkStedelijk_52                     7787 non-null   float64
 25  SterkStedelijk_53                         7787 non-null   float64
 26  MatigStedelijk_54                         7787 non-null   float64
 27  WeinigStedelijk_55                        7787 non-null   float64
 28  NietStedelijk_56                          7787 non-null   float64
 29  Bevolkingsdichtheid_57                    7787 non-null   float64
 30  Geboorteoverschot_62                      7384 non-null   float64
 31  GeboorteoverschotRelatief_63              7384 non-null   float64
 32  BinnenlandsMigratiesaldo_71               7368 non-null   float64
 33  BinnenlandsMigratiesaldoRelatief_72       7368 non-null   float64
 34  VerhuismobiliteitRelatief_73              7384 non-null   float64
 35  Migratiesaldo_76                          7384 non-null   float64
 36  MigratiesaldoRelatief_77                  7384 non-null   float64
 37  Bevolkingsgroei_79                        7384 non-null   float64
 38  BevolkingsgroeiRelatief_80                7384 non-null   float64
 39  TotaalAantalParticuliereHuishoudens_82    7787 non-null   float64
 40  Eenpersoonshuishoudens_86                 7787 non-null   float64
 41  HuishoudensZonderKinderen_87              7787 non-null   float64
 42  HuishoudensMetKinderen_88                 7787 non-null   float64
 43  GemiddeldeHuishoudensgrootte_89           7787 non-null   float64
 44  VoorraadOp1Januari_90                     7787 non-null   float64
 45  Nieuwbouwwoningen_91                      7385 non-null   float64
 46  SaldoVermeerderingWoningenRelatief_92     7385 non-null   float64
 47  Woningdichtheid_93                        7787 non-null   float64
 48  Koopwoningen_94                           7787 non-null   float64
 49  Huurwoningen_95                           7787 non-null   float64
 50  EigendomOnbekend_96                       7787 non-null   float64
 51  GemiddeldeWoningwaarde_99                 7782 non-null   float64
 52  VoortgezetOnderwijs_108                   6976 non-null   float64
 53  MiddelbaarBeroepsonderwijs_109            6976 non-null   float64
 54  HogerBeroepsonderwijsBachelor_110         6976 non-null   float64
 55  WoMasterDoctoraal_111                     6976 non-null   float64
 56  TotaalAantalBanen_112                     6370 non-null   float64
 57  ALandbouwBosbouwEnVisserij_117            5618 non-null   float64
 58  BFNijverheidEnEnergie_118                 5959 non-null   float64
 59  GNCommercieleDienstverlening_119          6362 non-null   float64
 60  OUNietCommercieleDienstverlening_120      6279 non-null   float64
 61  ParticuliereHuishoudensExclStudenten_121  4884 non-null   float64
 62  ParticuliereHuishoudensExclStudenten_122  4878 non-null   float64
 63  UitkeringsontvangersTotaal_152            6630 non-null   float64
 64  Werkloosheid_155                          6630 non-null   float64
 65  TotaleOppervlakte_243                     7787 non-null   float64
 66  Land_244                                  7787 non-null   float64
 67  WaterTotaal_245                           7787 non-null   float64
 68  Omgevingsadressendichtheid_248            7787 non-null   float64
 69  Gemeenten_303                             7787 non-null   float64
 70  KoppelvariabeleRegioCode_306              7787 non-null   object
 71  ID_y                                      4811 non-null   float64
 72  StatusVanBewoning                         4811 non-null   object
 73  TotaleWoningvoorraad_1                    4811 non-null   float64
 74  Koopwoningen_2                            4811 non-null   float64
 75  TotaalHuurwoningen_3                      4811 non-null   float64
 76  EigendomWoningcorporatie_4                4811 non-null   float64
 77  EigendomOverigeVerhuurders_5              4811 non-null   float64
 78  EigendomOnbekend_6                        4811 non-null   float64
dtypes: float64(74), int64(1), object(4)
memory usage: 4.8+ MB

In [168]:
#creating percentages of the housing type data
df['pct_koopwoningen'] = round(df['Koopwoningen_2'] / df['TotaleWoningvoorraad_1'] * 100, 1)
df['pct_Totaalhuurwoningen'] = round(df['TotaalHuurwoningen_3'] / df['TotaleWoningvoorraad_1'] * 100, 1)
df['pct_HuurCorporatie'] = round(df['EigendomWoningcorporatie_4'] / df['TotaleWoningvoorraad_1'] * 100, 1)
df['pct_HuurOverig'] = round(df['EigendomOverigeVerhuurders_5'] / df['TotaleWoningvoorraad_1'] * 100, 1)

In [169]:
#creating combined housing type data
cols = ['pct_koopwoningen','pct_HuurCorporatie','pct_HuurOverig']

df['housing_type'] = df[cols].values.tolist()

df[['housing_type', 'Perioden', 'pct_koopwoningen', 'pct_Totaalhuurwoningen', 'pct_HuurCorporatie', 'pct_HuurOverig', 'RegioS']].head(20)

,housing_type,Perioden,pct_koopwoningen,pct_Totaalhuurwoningen,pct_HuurCorporatie,pct_HuurOverig,RegioS
0,"[nan, nan, nan]",2006,NaN,NaN,NaN,NaN,Nederland
1,"[nan, nan, nan]",2007,NaN,NaN,NaN,NaN,Nederland
2,"[nan, nan, nan]",2008,NaN,NaN,NaN,NaN,Nederland
3,"[nan, nan, nan]",2009,NaN,NaN,NaN,NaN,Nederland
4,"[nan, nan, nan]",2010,NaN,NaN,NaN,NaN,Nederland
5,"[nan, nan, nan]",2011,NaN,NaN,NaN,NaN,Nederland
6,"[56.6, 30.7, 11.5]",2012,56.6,42.3,30.7,11.5,Nederland
7,"[56.6, 30.6, 12.0]",2013,56.6,42.6,30.6,12.0,Nederland
8,"[56.2, 30.2, 12.5]",2014,56.2,42.7,30.2,12.5,Nederland
9,"[56.2, 30.4, 12.4]",2015,56.2,42.8,30.4,12.4,Nederland
10,"[56.3, 29.9, 12.8]",2016,56.3,42.6,29.9,12.8,Nederland
11,"[56.2, 29.6, 13.1]",2017,56.2,42.7,29.6,13.1,Nederland
12,"[56.7, 29.3, 13.0]",2018,56.7,42.3,29.3,13.0,Nederland
13,"[57.4, 29.4, 12.9]",2019,57.4,42.2,29.4,12.9,Nederland
14,"[57.2, 29.1, 13.3]",2020,57.2,42.3,29.1,13.3,Nederland
15,"[57.1, 28.8, 13.9]",2021,57.1,42.7,28.8,13.9,Nederland
16,"[57.1, 28.6, 14.1]",2022,57.1,42.7,28.6,14.1,Nederland
17,"[nan, nan, nan]",2006,NaN,NaN,NaN,NaN,Noord-Nederland (LD)
18,"[nan, nan, nan]",2007,NaN,NaN,NaN,NaN,Noord-Nederland (LD)
19,"[nan, nan, nan]",2008,NaN,NaN,NaN,NaN,Noord-Nederland (LD)

In [170]:
# drop all NaN in housing type data
df = df.dropna(subset=['pct_koopwoningen'])

In [192]:
# only municipality data
df['koppelletter'] = df['KoppelvariabeleRegioCode_306'].astype(str).str[0:2]
df = df[(df['koppelletter'] == "GM")]
df.drop('koppelletter', inplace = True, axis =1)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4184 entries, 975 to 7786
Data columns (total 84 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   ID_x                                      4184 non-null   int64
 1   RegioS                                    4184 non-null   object
 2   Perioden                                  4184 non-null   object
 3   TotaleBevolking_1                         4184 non-null   float64
 4   Mannen_2                                  4184 non-null   float64
 5   Vrouwen_3                                 4184 non-null   float64
 6   JongerDan5Jaar_13                         4184 non-null   float64
 7   k_5Tot10Jaar_14                           4184 non-null   float64
 8   k_10Tot15Jaar_15                          4184 non-null   float64
 9   k_15Tot20Jaar_16                          4184 non-null   float64
 10  k_20Tot25Jaar_17                          4184 non-null   float64
 11  k_25Tot45Jaar_18                          4184 non-null   float64
 12  k_45Tot65Jaar_19                          4184 non-null   float64
 13  k_65Tot80Jaar_20                          4184 non-null   float64
 14  k_80JaarOfOuder_21                        4184 non-null   float64
 15  TotaleDruk_22                             4184 non-null   float64
 16  GroeneDruk_23                             4184 non-null   float64
 17  GrijzeDruk_24                             4184 non-null   float64
 18  Ongehuwd_25                               4184 non-null   float64
 19  Gehuwd_26                                 4184 non-null   float64
 20  Gescheiden_27                             4184 non-null   float64
 21  Verweduwd_28                              4184 non-null   float64
 22  NederlandseAchtergrond_43                 4184 non-null   float64
 23  TotaalMetMigratieachtergrond_44           4184 non-null   float64
 24  ZeerSterkStedelijk_52                     4184 non-null   float64
 25  SterkStedelijk_53                         4184 non-null   float64
 26  MatigStedelijk_54                         4184 non-null   float64
 27  WeinigStedelijk_55                        4184 non-null   float64
 28  NietStedelijk_56                          4184 non-null   float64
 29  Bevolkingsdichtheid_57                    4184 non-null   float64
 30  Geboorteoverschot_62                      3839 non-null   float64
 31  GeboorteoverschotRelatief_63              3839 non-null   float64
 32  BinnenlandsMigratiesaldo_71               3839 non-null   float64
 33  BinnenlandsMigratiesaldoRelatief_72       3839 non-null   float64
 34  VerhuismobiliteitRelatief_73              3839 non-null   float64
 35  Migratiesaldo_76                          3839 non-null   float64
 36  MigratiesaldoRelatief_77                  3839 non-null   float64
 37  Bevolkingsgroei_79                        3839 non-null   float64
 38  BevolkingsgroeiRelatief_80                3839 non-null   float64
 39  TotaalAantalParticuliereHuishoudens_82    4184 non-null   float64
 40  Eenpersoonshuishoudens_86                 4184 non-null   float64
 41  HuishoudensZonderKinderen_87              4184 non-null   float64
 42  HuishoudensMetKinderen_88                 4184 non-null   float64
 43  GemiddeldeHuishoudensgrootte_89           4184 non-null   float64
 44  VoorraadOp1Januari_90                     4184 non-null   float64
 45  Nieuwbouwwoningen_91                      3839 non-null   float64
 46  SaldoVermeerderingWoningenRelatief_92     3839 non-null   float64
 47  Woningdichtheid_93                        4184 non-null   float64
 48  Koopwoningen_94                           4184 non-null   float64
 49  Huurwoningen_95                           4184 non-null   float64
 50  EigendomOnbekend_96                       4184 non-null   float64
 51  GemiddeldeWoningwaarde_99                 4179 non-null   float64
 52  VoortgezetOnderwijs_108                   3487 non-null   float64
 53  MiddelbaarBeroepsonderwijs_109            3487 non-null   float64
 54  HogerBeroepsonderwijsBachelor_110         3487 non-null   float64
 55  WoMasterDoctoraal_111                     3487 non-null   float64
 56  TotaalAantalBanen_112                     3839 non-null   float64
 57  ALandbouwBosbouwEnVisserij_117            3433 non-null   float64
 58  BFNijverheidEnEnergie_118                 3483 non-null   float64
 59  GNCommercieleDienstverlening_119          3831 non-null   float64
 60  OUNietCommercieleDienstverlening_120      3784 non-null   float64
 61  ParticuliereHuishoudensExclStudenten_121  3839 non-null   float64
 62  ParticuliereHuishoudensExclStudenten_122  3833 non-null   float64
 63  UitkeringsontvangersTotaal_152            3839 non-null   float64
 64  Werkloosheid_155                          3839 non-null   float64
 65  TotaleOppervlakte_243                     4184 non-null   float64
 66  Land_244                                  4184 non-null   float64
 67  WaterTotaal_245                           4184 non-null   float64
 68  Omgevingsadressendichtheid_248            4184 non-null   float64
 69  Gemeenten_303                             4184 non-null   float64
 70  KoppelvariabeleRegioCode_306              4184 non-null   object
 71  ID_y                                      4184 non-null   float64
 72  StatusVanBewoning                         4184 non-null   object
 73  TotaleWoningvoorraad_1                    4184 non-null   float64
 74  Koopwoningen_2                            4184 non-null   float64
 75  TotaalHuurwoningen_3                      4184 non-null   float64
 76  EigendomWoningcorporatie_4                4184 non-null   float64
 77  EigendomOverigeVerhuurders_5              4184 non-null   float64
 78  EigendomOnbekend_6                        4184 non-null   float64
 79  pct_koopwoningen                          4184 non-null   float64
 80  pct_Totaalhuurwoningen                    4184 non-null   float64
 81  pct_HuurCorporatie                        4184 non-null   float64
 82  pct_HuurOverig                            4184 non-null   float64
 83  housing_type                              4184 non-null   object
dtypes: float64(78), int64(1), object(5)
memory usage: 2.7+ MB

In [195]:
#creating lag data (Still finding a way to not include data from other regions)
tw_val = df[['Perioden', 'housing_type']]

new_df = pd.concat([tw_val['Perioden'], tw_val['housing_type'].shift(+1), tw_val['housing_type'].shift(+3), tw_val['housing_type'].shift(+5)], axis=1) 
new_df.columns = ['perioden','housingtype+1', 'housingtype+3', 'housingtype+5']

new_df['RegioS'] = df['RegioS']
new_df.head(30)

,perioden,housingtype+1,housingtype+3,housingtype+5,RegioS
975,2012,NaN,NaN,NaN,Aa en Hunze
976,2013,"[67.1, 15.9, 9.9]",NaN,NaN,Aa en Hunze
977,2014,"[71.0, 17.8, 9.2]",NaN,NaN,Aa en Hunze
978,2015,"[70.7, 17.4, 10.4]","[67.1, 15.9, 9.9]",NaN,Aa en Hunze
979,2016,"[70.6, 18.8, 9.4]","[71.0, 17.8, 9.2]",NaN,Aa en Hunze
980,2017,"[71.1, 17.7, 9.7]","[70.7, 17.4, 10.4]","[67.1, 15.9, 9.9]",Aa en Hunze
981,2018,"[70.7, 17.6, 10.1]","[70.6, 18.8, 9.4]","[71.0, 17.8, 9.2]",Aa en Hunze
982,2019,"[73.1, 17.6, 7.8]","[71.1, 17.7, 9.7]","[70.7, 17.4, 10.4]",Aa en Hunze
983,2020,"[74.1, 19.8, 6.0]","[70.7, 17.6, 10.1]","[70.6, 18.8, 9.4]",Aa en Hunze
984,2021,"[74.6, 19.8, 5.5]","[73.1, 17.6, 7.8]","[71.1, 17.7, 9.7]",Aa en Hunze
985,2022,"[74.8, 19.7, 5.5]","[74.1, 19.8, 6.0]","[70.7, 17.6, 10.1]",Aa en Hunze
992,2012,"[75.0, 19.7, 5.4]","[74.6, 19.8, 5.5]","[73.1, 17.6, 7.8]",Aalburg
993,2013,"[72.4, 20.6, 6.8]","[74.8, 19.7, 5.5]","[74.1, 19.8, 6.0]",Aalburg
994,2014,"[72.0, 20.7, 7.1]","[75.0, 19.7, 5.4]","[74.6, 19.8, 5.5]",Aalburg
995,2015,"[71.2, 20.4, 7.6]","[72.4, 20.6, 6.8]","[74.8, 19.7, 5.5]",Aalburg
996,2016,"[70.6, 19.2, 9.3]","[72.0, 20.7, 7.1]","[75.0, 19.7, 5.4]",Aalburg
997,2017,"[71.8, 18.7, 9.3]","[71.2, 20.4, 7.6]","[72.4, 20.6, 6.8]",Aalburg
998,2018,"[71.6, 18.3, 10.0]","[70.6, 19.2, 9.3]","[72.0, 20.7, 7.1]",Aalburg
1005,2012,"[72.4, 18.5, 8.5]","[71.8, 18.7, 9.3]","[71.2, 20.4, 7.6]",Aalsmeer
1006,2013,"[64.0, 24.9, 10.5]","[71.6, 18.3, 10.0]","[70.6, 19.2, 9.3]",Aalsmeer
1007,2014,"[64.1, 24.7, 10.9]","[72.4, 18.5, 8.5]","[71.8, 18.7, 9.3]",Aalsmeer
1008,2015,"[63.0, 24.7, 10.3]","[64.0, 24.9, 10.5]","[71.6, 18.3, 10.0]",Aalsmeer
1009,2016,"[63.3, 25.0, 10.2]","[64.1, 24.7, 10.9]","[72.4, 18.5, 8.5]",Aalsmeer
1010,2017,"[63.2, 24.3, 10.6]","[63.0, 24.7, 10.3]","[64.0, 24.9, 10.5]",Aalsmeer
1011,2018,"[63.1, 24.3, 10.7]","[63.3, 25.0, 10.2]","[64.1, 24.7, 10.9]",Aalsmeer
1012,2019,"[64.1, 24.0, 10.0]","[63.2, 24.3, 10.6]","[63.0, 24.7, 10.3]",Aalsmeer
1013,2020,"[64.6, 23.7, 11.6]","[63.1, 24.3, 10.7]","[63.3, 25.0, 10.2]",Aalsmeer
1014,2021,"[64.7, 23.6, 11.7]","[64.1, 24.0, 10.0]","[63.2, 24.3, 10.6]",Aalsmeer
1015,2022,"[64.7, 23.7, 11.5]","[64.6, 23.7, 11.6]","[63.1, 24.3, 10.7]",Aalsmeer
1022,2012,"[64.6, 24.0, 11.3]","[64.7, 23.6, 11.7]","[64.1, 24.0, 10.0]",Aalten